* {
  margin: 0;
  padding: 0;
}

label,
input,
select,
textarea,
p {
  font-family: "Karla", sans-serif;
}

input,
select,
option,
textarea {
  background-color: #eeeeee;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 0.2rem;
  resize: none;
}

h1 {
  font-family: "Markazi Text";
  font-size: 64px;
  color: #f4ce14;
}

input,
select {
  width: 10rem;
}

/* Button */

button {
  background-color: #f4ce14;
  color: #000;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 18px;
  width: 12em;
  height: 3em;
  margin: 1em;
  border-radius: 2em;
  border: none;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #f49a14;
}

.specials #button {
  margin-top: 4em;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.5em;
  justify-content: space-between;
}

.logo {
  margin-left: 7em;
  margin-right: 7em;
  width: 300px;
}

/* Nav */
.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  margin: 0;
  padding-right: 7em;
}

.nav li a {
  text-decoration: none;
  color: #333;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

/* Testimonials */

.testimonials {
  background-color: #4c6b5c;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.testimonials h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial-card {
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.reviewer-name {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.review-text {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: #666;
}

.rating {
  font-size: 1.2em;
  color: #f5c518;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  min-height: 13rem;
  background-color: #495e57;
  color: #ffffff;
  padding-bottom: 1rem;
}

.logo-footer {
  padding-left: 100px;
}

.div-footer {
  flex-grow: 1;
  flex-basis: 200;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  max-width: 1200px;
  margin-left: 4em;
  margin-top: 2em;
  padding: 0 1rem;
  justify-content: space-around;
}

.footer-head {
  font-size: medium;
}

.ul-footer {
  list-style: none;
  padding-left: 0;
}
